<div class="row heading">
    <div class="col-12">
        <h2 class="text-center text-primary">New Arrivals</h2>
        <p class="text-center text-primary"     >See All</p>
    </div>
</div>

<div class="row container ">
    <div class="col-3 grid">
     <img src="https://img.fragrancex.com/images/assets/product%20images/dolce-gabbana.jpg" alt="">
     <h6>Tuscan Soul Convivio Cologne</h6>
     <p>By Salvatore Ferragamo for Men and Women</p>
     <p><b>$99.7</b></p>
    </div>
    <div class="col-3">
        <img src="https://img.fragrancex.com/images/assets/product%20images/dior.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div>
      <div class="col-3">
        <img src="https://img.fragrancex.com/images/assets/product%20images/mont-blanc.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div
    >  <div class="col-3">
        <img src="https://img.fragrancex.com/images/assets/product%20images/calvin-klein.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div>
</div>

