<div class="row heading">
    <div class="col-12">
        <h2 class="text-center text-primary">Top Picks For You</h2>
        <p class="text-center text-primary"     >See All</p>
    </div>
</div>

<div class="row container ">
    <div class="col-3 grid">
     <img src="https://img.fragrancex.com/images/products/sku/small/884w.jpg" alt="">
     <h6>Tuscan Soul Convivio Cologne</h6>
     <p>By Salvatore Ferragamo for Men and Women</p>
     <p><b>$99.7</b></p>
    </div>
    <div class="col-3">
        <img src="https://img.fragrancex.com/images/products/sku/small/61100w.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div>
      <div class="col-3">
        <img src="https://img.fragrancex.com/images/assets/product%20images/versace.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div
    >  <div class="col-3">
        <img src="https://img.fragrancex.com/images/assets/product%20images/jimmy-choo.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div>
</div>


