
<div class="container">
    
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data "
    ngModelGroup="userData"
    #userData="ngModelGroup">

  
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
         class="form-control" 
         id="name"
         ngModel
         name="name"
         required>
      </div>
      
    
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" 
        class="form-control" 
        id="email"
        ngModel
        name="email"
        required
        #email="ngModel">
    
        <small id="emailHelp"
         class="form-text text-muted"
         *ngIf="!email.valid && email.touched">
         We'll never share your email with anyone else.</small>
      </div>
      <p *ngIf="!userData.valid && userData.touched" class="text-danger">user data is invalid</p>
    
      <div class="form-group" >
        <label for="password">Password</label>
        <input type="password" 
        class="form-control" 
        id="password1"
        ngModel
        name="password"
        required>
      </div>
      
   

    
      
        <div class="radio" *ngFor =" let gender of genders">
          <label>
            <input type="radio"
            name="gender"
            ngModel
            [value]="gender">
          </label>
          {{gender}}
          
        </div>


      <div class="form-check">
        <input type="checkbox" 
        class="form-check-input" 
        id="exampleCheck1"
        ngModel
        name="checkBox"
        required>
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    
      <button type="submit"
      class="btn btn-primary"
      [disabled]="!f.valid">Submit</button>

    </div>
    </form>
  </div>

  <hr>
  <h3 class="text-center">Your Data</h3>
  <div class="row container" *ngIf="submitted">
    <div class="col-12">
      <p>Name:{{user.username}}</p>
      <p>mail:{{user.email}}</p>
      <p>password:{{user.password}}</p>
      <p>secret question:{{user.secret}}</p>
      <p>questionAnswer:{{user.questionAnswer}}</p>
      <p>gender:{{user.gender}}</p>


    </div>
  </div>
  