
<div class="row heading">
    <div class="col-12">
        <h2 class="text-center text-primary">Best Sellers</h2>
        <p class="text-center text-primary"     >View All Brands</p>
    </div>
</div>

<div class="row container ">
    <div class="col-3 grid">
     <img src="https://img.fragrancex.com/images/products/sku/small/67930w.jpg" alt="">
     <h6>Tuscan Soul Convivio Cologne</h6>
     <p>By Salvatore Ferragamo for Men and Women</p>
     <p><b>$99.7</b></p>
    </div>
    <div class="col-3">
        <img src="https://img.fragrancex.com/images/products/sku/small/352w.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div>
      <div class="col-3">
        <img src="https://img.fragrancex.com/images/products/sku/small/verertsm.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div
    >  <div class="col-3">
        <img src="https://img.fragrancex.com/images/products/sku/small/psrb10.jpg" alt="">
        <h6>Tuscan Soul Convivio Cologne</h6>
        <p>By Salvatore Ferragamo for Men and Women</p>
        <p><b>$99.7</b></p>
    </div>
</div>



