/* img{
    background-image: url("https://image.shutterstock.com/image-photo/woman-spraying-perfume-on-dark-260nw-677981779.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
} */