<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/Home">Fragrance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Service">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Collection">Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pull-right"  routerLink="/login">LogIn</a>
      </li>
    </ul>
    
  </div>
</nav>


  
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
