<div class="image">
   <a href="#">
        <img src="https://img.fragrancex.com/images/l/22/d/0/homeimage_mq4.jpg" alt="" style="width: 100vw;height: 50vh; cursor: pointer;">
    </a>

</div>

<app-fragrance class="component"></app-fragrance>
<app-best-seller  class="component"></app-best-seller>